<% action = (user.persisted? ? users_url(user) : users_url) %>
<% method = (user.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <label for="user_name">Username</label>
  <input
    type="text"
    name="user[username]"
    id="user_name"
    value="<%= user.username %>">

    <br>

  <label for="password">Password</label>
  <input
    type="text"
    name="user[password]"
    id="password"
    value="<%= user.password %>">

</form>
